@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Libre+Baskerville&display=swap');
*
{
    font-family: 'Lora', serif;
}

.screen
{
    padding: 0;
    margin: 0;
    width: 100%;
}

nav
{
    width: 100%;
    height: 14vh;
    background-color: #1F2B2D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}


nav a img
{
    width: 5rem;
}

nav ul{
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator
{
    margin-right: 10.375rem;
}

nav ul li
{
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a
{
    text-decoration: none;
    color:rgb(245, 234, 219);
    font-size: 26px;
    transition: color 0.3s;
}

nav ul li a:hover
{
    color: #D6AA67;
}


nav ul li a img
{
    width: 3rem;
    height: 3rem;
}

#icono-menu
{
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.checkbtn
{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

nav .hide, nav ul li a span
{
    display: none;
}

@media (max-width: 1150px)
{
    .separator
    {
        margin-right: 6.625rem;
    }

    nav ul
    {
        width: 70%;
    }

}

@media (max-width: 972px)
{
    .separator
    {
        margin-right: 5.625rem;
    }

}

@media (max-width: 856px)
{
    .checkbtn
    {
        display: block;
    }
    
    nav ul
    {
        position: absolute;
        width: 100%;
        height: 152vh;
        background-color: #455355;
        top: 5rem;
        text-align: center;
        transition: all .5s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        z-index: 1500;
    }

    nav ul li {
        margin: 3.125rem 0;
        line-height: 1.875rem;
    }

    nav ul li a{
        font-size: 1.25rem;
    }

    #check:checked ~ ul
    {
        left: 0;
    }

    nav ul li a span{
        display:block;
    }
    nav ul li a img
    {
        display: none;
    }
}


@media (max-width: 400px)
{
    
    .checkbtn
    {
        margin-right: 0;
        margin-left: 3.75rem;
    }
    
}
