<body>
    <nav>
        <a href="">
            <img src="../../../assets/Logo-removebg.png" alt="Logo Lybooks">
        </a>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Shop</a>
            </li>
            <li>
                <a href="#">About us</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <!-- <form action="https://www.google.com/search" method="get">
            <input type="text" placeholder="Search your book">
            <button type="submit"><img src="../../../assets/navbar/lupa.png" alt="Magnifying glass"></button>
        </form> -->
        <div class="container">
            <button><img src="../../../assets/navbar/notificacion.png" alt="Notification"></button>
            <button><img src="../../../assets/navbar/usuario.png" alt="User"></button>
            <button><img src="../../../assets/navbar/correo-electronico.png" alt="E-mail"></button>
        </div>
    </nav>
</body>
