<div class="screen">
    <div class="info-container">
        <div class="carrousel-container">
            <div class="logo-container">
                <img src="../../../assets/Logo-removebg.png" alt="Logo Lybooks">
            </div>
            <div class="carrousel">
                <img src="../../../assets/Welcome/1984.jpeg" alt="1984 book">
                <img src="../../../assets/Welcome/The catcher in the rye.jpg" alt="The catcher in the rye book">
                <img src="../../../assets/Welcome/the perks of being a wallflower.jpg" alt="The perks of being a wallflower book">
                <img src="../../../assets/Welcome/Los peligros de fumar en la cama.jpeg" alt="Los peligros de fumar en la cama book">
            </div>
        </div>
        <div class="login-menu">
            <div class="container">
                <div class="button-box">
                    <button>Continue with Google</button>
                    <button>Continue with Facebook</button>
                    <button>Sign up with email</button>
                </div>
                <div class="legality">
                    <p>By creating an account, you agree to the Lybooks <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                </div>
                <hr>
                <p>Already a member? <a href="#">Sign in</a></p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Lybooks, inc.</p>
    </div>
</div>
