<div class="screen">
    <div class="logo-container">
        <div class="brand-container">
            <img src="../../../assets/Logo-removebg.png" alt="Logo Lybooks">
            <p>Lybooks</p>
        </div>
    </div>
    <div class="info-container">
        <div class="info-gallery">
            <h1>Find or sell your books</h1>
            <div class="gallery-container">
                <div class="gallery">
                    <section>
                        <img *ngFor="let image of imagesArray" [src]="image.src" alt="">
                    </section>
                    <section>
                        <img *ngFor="let image of imagesArray2" [src]="image.src" alt="">
                    </section>
                </div>
            </div>
        </div>
        <div class="login-menu">
            <div class="about-us">
                <span>Why join us?</span>
                <p>Explore our book haven! From classics to bestsellers, find your next adventure. <br> Buy and sell with ease. Join our book-loving market today!</p>
            </div>
            <div class="login-container">
                <div class="button-box">
                    <button (click)="onGoogleLogin()"><img src="../../../assets/Welcome/google.png" alt="Google icon"> Continue with Google</button>
                    <button (click)="onTwitterLogin()"><img src="../../../assets/Welcome/X.png" alt="X icon">Continue with X</button>
                    <button [routerLink]="['/register']"><img src="../../../assets/Welcome/email.png" alt="Email icon">Sign up with email</button>
                </div>
                <div class="legality">
                    <p>By creating an account, you agree to the Lybooks <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
                </div>
                <hr>
                <p>Already a member? <a [routerLink]="['/login']">Sign in</a></p>
            </div>
            
        </div>
    </div> 
    <div class="copyright">
        <p>&copy; 2023 Lybooks, inc.</p>
    </div>
</div>
